<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="RoboRallyNet" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<RoboRallyNet>
		<add key="players" value="Donald Knuth,mudd,purdue,illinois,maryland,wisconsin"/>
	</RoboRallyNet>
	<runtime>
		<loadFromRemoteSources enabled="true"/>
	</runtime>
</configuration>