body { 
	color: #7135AE;	
	background: url(background.png) center top repeat-y;
	background-color: rgba(244, 187, 220, 1);
	text-align: center;
}


header { 
	background: url(allBrooches.png) repeat top;
	height: 80px;
}

div#container {
	float: center;
}


div#headerContent {
	text-indent: 2em;
	font-family: Georgia, monospace;
}

div#content {
	text-align: left;
	margin: auto;
	width:  65%;
	min-width: 600px;
}

h1 { 
	color:#F3357D;
	text-align: center; 
	text-shadow: 2px 2px 5px #333333;
}

h2 { 
	color: #B2C575;
}

p.codebox {
	background-color: rgba(244, 187, 220, 1);
	border: 1px solid;
	border-color:#F5579E;
	padding: 1em;
}

footer { 
	color: #DA0000;
	font-size: 12px; font-family: Verdana;
}

p.content { 
	text-indent: 2em;
	background-color: rgba(244, 187, 220, 1); 
	color: #000029;
}

a:link {
	text-decoration: none; 
	color: #F3357D;
}

a:visited {
	text-decoration: none; 
	color: #F3357D;
}

a:hover{
	text-decoration: none; 
	color: #B2C575;
}

a:active{
	text-decoration: none;
}