body { 
	color: #7135AE;	
	background: url(background.png) center top repeat-y;
	background-color: rgba(244, 187, 220, 1);
	text-align: center;
	font-family: Verdana, sans-serif;
}

header { 
	background: url(allBrooches.png) repeat top;
	height: 80px;
	font-family: Georgia, serif;
}

#name, h1 {
	font-family: Georgia, monospace;
	color:#F3357D;
	text-align: center; 
	text-shadow: 2px 2px 5px #333333
}

#content {
	text-align: left;
	margin: auto;
	width:  65%;
	min-width: 600px;
}

h2 { 
	color: #B2C575;
}

h3 {
	text-indent: 2em;
}

.codebox {
	background-color: rgba(244, 187, 220, 1);
	border: 1px solid #F5579E;
	padding: 1em;
	width: 80%;
	margin: auto;
}

footer { 
	color: #DA0000;
	font-size: 12px; font-family: Verdana;
}

.content { 
	text-indent: 2em;
}

a {
	text-decoration: none; 
	color: #F3357D;
}

a:hover{
	text-decoration: none; 
	color: #B2C575;
}

#validatorCSS {
	float: right;
}

#container {
	margin: auto;
	min-width: 600px;
	opacity: 0.6;
	border: 1px solid #7135AE;
	background-color: #FFFFFF;
}