body {
	background-color: #F4FFE4;
	color: #333333;
	font-family: Verdana, sans-serif;
}

header {
	background: url(turtle2.gif) right top no-repeat;
	height: 85px;
	background-color: #D5EDB3;
	text-align: center;
	border: 1px solid;
	border-color: #333333;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #828282;
	text-shadow: 3px 3px 5px #666;
}

header,h1,h2 {
	font-family: Georgia, serif;
}

a{
	color: #333333;
	background-color: #D5EDB3;
	border-color: #333333;
	border: 1px solid;
	font-weight: bold;
	text-indent: 20px;
	padding: 5px;
	color: #333333;
	text-decoration: none;
}

.company_name {
	font-weight: bold;
}

#intro {
	text-indent: 2em;
}

#services {
	word-spacing: 1.5px;
}

.motto {
	font-style: italic;
}

#wrapper {
	width: 80%;
	background-color: #FFFFFF;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	min-width: 600px;
	min-height: 550px;
	margin: auto;
}

.content {

}