h1 {
	background-color: pink;
}

a {
	text-decoration: none;
}

a:link {
	color:#E1C900;
	border-bottom: 2px dashed;
}

a:visited {
	color:#9AB800;
	font-weight: bold;
}

a:focus {
	color:#DA0000;
}

a:hover {
	background-color:#E195BF;
}

a:active {
	color:#006ABA;
}

a:focus:hover {
	background-color:#000029;
	text-transform: italic;
}